
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: rgb(255 115 179);
    --color-secondary: rgb(111 114 185);
    --color-third: rgb(111 114 185);
    --primary-500: rgb(111 114 185);
    --color-btn: rgb(126,217,87);
    /* ... */
  }
}